* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: #fff;
}
.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #a600ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #a600ff;
}

/* About Section */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
}

.about-col-1 img {
    width: 100%;
    max-width: 300px;
    border-radius: 15%;
}

.about-col-2 {
    flex: 1;
    padding-left: 30px;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: color 0.3s;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #a600ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul {
    list-style: none;
}

.tab-contents ul li {
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #a600ffcc;
    font-size: 14px;
}


/* Services Section */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    border-radius: 10px;
    transition: background (0.5s, transform 0.5s);
}

.services-list div:hover {
    background: #2e2035cc;
    transform: translateY(-10px);
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
/*social */

#social-icons h1 {
    padding: 30px;
    margin-top: 10px;
}

.social-icons a {
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
}

.social-icons a:hover {
    color: #a600ff;
    transform: translateX(-5px);
}
/* Contact Section */
.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #a600ff;
    margin-right: 15px;
    font-size: 25px;
}



.copyright {
    width: 100%;
    text-align: center;

    background: #262626;
    font-weight: 200;
    margin-top: 10px;
}


    .copyright {
        font-size: 14px;
    }

    .logo {
        height: 20px;
        width: 20px;
    }

